/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/*Общие стили*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-size: var(--content-text-size);
  font-variation-settings: 'wght' var(--main-text-wght);
  color: var(--main-color);
  background-image: var(--background-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.page:has(.dialog-window[open]) {
  overflow: hidden;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: var(--border-style);
  justify-self: center;
  inline-size: var(--block-width);
  margin: var(--block-margin) 0;
}

/*Стили шапки*/

.header {
  font-family: var(--accent-font);
  text-transform: uppercase;
  text-align: center;
}

.header__card {
  margin: 100px 0;
  gap: 20px;
  padding: clamp(7.625rem, 7.449rem + 0.751vw, 8.125rem) clamp(1rem, -1.344rem + 10vw, 7.656rem);
}

.label {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  font-weight: var(--accent-font-wght);
}

.label__description {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  font-weight: var(--accent-font-wght);
}

/*Заголовок и картинка карточки*/

.content__card-title {
  font-variation-settings: 'wdth' var(--card-heading-wght);
  font-size: var(--content-text-size);
  margin: 4px 10px;

}

.content__card-picture {
  position: relative;
}

.picture {
  inline-size: 100%;
  border-top: var(--border-style);
  border-bottom: var(--border-style);
  margin-bottom: var(--inside-block-margin);
}

/*Фильтры картинки*/

.filter-hue-rotate {
  filter: hue-rotate(-130deg);
}

.filter-opacity {
  filter: opacity(0.7);
}

.filter-brightness-contrast {
  filter: brightness(250%) contrast(120%);
}

.filter-invert {
  filter: invert(0.9);
}

.filter-saturate {
  filter: saturate(158%);
}

.filter-blur-hue-rotate {
  filter: blur(3px) hue-rotate(30deg);;
}

.filter-grayscale-drop-shadow {
  filter: grayscale(0.9) drop-shadow(0 10px 5px rgba(0, 0, 0, 0.5));;
}

.filter-sepia-brightness {
  filter: sepia(60%) brightness(80%);
}

.content__card-label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  font-weight: var(--accent-font-wght);
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  z-index: 2;
  text-shadow: 
    -1px 0 var(--stroke-color), 
    0 1px var(--stroke-color), 
    1px 0 var(--stroke-color), 
    0 -1px var(--stroke-color);
}

@supports ((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .content__card-label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
} 

/*Текст карточки*/

.content__card-description {
  display: inline-block;
  margin: 0 var(--inside-block-margin);
}

.content__card-description-paragraph {
  margin-bottom: var(--inside-block-margin);
}

/*Кнопки*/

.content__card-button {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 7px;
  margin: 0 var(--inside-block-margin) var(--inside-block-margin) auto;
}

.card__icon-button {
  display: flex;
  align-items: center;
  inline-size: 39px;
  block-size: 39px;
  padding: 0;
  border: solid transparent 2px;
  background-color: transparent;
  transition: border 0.3s ease;
  position: relative;
}

.like-icon {
  align-self: center;
  inline-size: 39px;
  block-size: 36px;
  cursor: pointer;
}

.heart {
  transform-origin: center;
}

.card__like-button {
  border: var(--border-style);
  background-color: transparent;
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  font-weight: var(--accent-font-wght);
  white-space: nowrap;
  position: inherit;
  z-index: 3;
  color: var(--extra-color);
  mix-blend-mode: difference;
}

/*Стили подвала*/

.footer__save-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-self: center;
  inline-size: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
  margin: var(--block-margin) 0 100px;
  border: var(--border-style);
  background-color: #fff;
  padding: 15px 18px;
  gap: 8px;
}

.save-icon {
  flex-shrink: 0;
  min-inline-size: 28px;
  min-block-size: 28px;
  max-inline-size: 39px;
  max-block-size: 39px;
}

.save-icon-button {
  z-index: 3;
  filter: invert(1);
  mix-blend-mode: difference;
}

/*Окно*/

.dialog-window {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  inline-size: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
  background-color: #fff;
  border: var(--border-style);
  font-family: var(--accent-font);
}

.dialog__content {
  display: flex;
  justify-self: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  inline-size: clamp(16.313rem, 15.608rem + 3.005vw, 18.313rem);
  margin-bottom: 30px;
}

.dialog__text {
  font-size: var(--accent-font-size);
  font-weight: var(--accent-font-wght);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  inline-size: clamp(16.313rem, 15.608rem + 3.005vw, 18.313rem);
  border: var(--border-style);
  background-color: transparent;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  justify-self: center;
}

.dialog__button-text {
  font-size: var(--accent-font-size);
  font-weight: var(--accent-font-wght);
  line-height: 90%;
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

/*Эффекты кнопок*/

.button-effects {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  background-color: var(--extra-color);
  cursor: pointer;
}

.button-effects:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--main-color);
}

.button-effects::before {
  content: '';
  position: absolute;
  z-index: 2;
  inset: 0;
  background-color: var(--main-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button-effects:hover::before {
  transform: translateX(0);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: solid var(--main-color) 2px;
}

/*Cердце по умолчанию*/

.sparks {
  filter: opacity(0);
  fill: var(--heart-sparks-color);
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear ;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

/*Cердце при наведении*/

.like-icon:hover .core {
  transition: fill 0.3s	linear	0s;
  fill: var(--main-color);
}

.like-icon:hover .main-body {
  transition: fill 0.3s	linear	0.05s;
  fill: #000;
}

/*Cердце при нажатии и удержании*/

.like-icon:active .core {
  transition: fill 0.3s	linear	0s;
  fill: var(--heart-fill-color);
}

.like-icon:active .main-body {
  transition: fill 0.3s	linear	0.05s;
  fill: var(--heart-fill-color);
}

/*Cердце при клике*/

.like-icon.is-liked .core {
  transition: fill 0.3s	linear	0s;
  fill: var(--heart-fill-color);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s	linear	0.05s;
  fill: var(--heart-fill-color);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s	linear	0.06s;
  --heart-contour-color: #ff0000;
  fill: var(--heart-contour-color);
}

/*Анимации keyframes*/

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 0.3s 1;
}

/*Медиазапросы*/

@media (width >= 1440px) {
  .footer__save-icon {
  inline-size: 21px;
  block-size: 21px;
  flex-shrink: 0;
  position: inherit;
  z-index: 3;
  filter: invert(1);
  mix-blend-mode: difference;
  }
}

@media (width <= 375px) {
  .page {
    overflow-x: auto;
  }
}